{% extends "portfolio/index.html" %}

{% block content %}
    <h2>Competências</h2>

    <a href="{% url 'competencia_nova' %}" class="btn-add">+ Adicionar nova competência</a>

    <section>
    {% for competencia in competencias %}
        <div class="item-card">
            <div class="item-card-header">
                <h3>{{ competencia.nome }}</h3>
            </div>

            <div class="item-card-body">
                <ul>
                    <li><strong>Tipo:</strong> {{ competencia.get_tipo_display }}</li>
                    <li><strong>Descrição:</strong> {{ competencia.descricao }}</li>
                </ul>
            </div>

            <div class="item-card-footer">
                <a href="{% url 'competencia_editar' competencia.id %}" class="btn-edit">Editar</a>
                <form method="post" action="{% url 'competencia_eliminar' competencia.id %}" class="delete-form" onsubmit="return confirm('Tens a certeza que queres eliminar {{ competencia.nome }}?');">
                    {% csrf_token %}
                    <button type="submit" class="btn-delete">Eliminar</button>
                </form>
            </div>
        </div>
    {% endfor %}
    </section>
{% endblock %}