{% extends "portfolio/index.html" %}

{% block content %}
    <h2>Competências</h2>

    <a href="{% url 'competencia_nova' %}" class="btn-add">+ Adicionar nova competência</a>

    <div>
        <section>
        {% for competencia in competencias %}
        <article>
            <header>
                <h3>{{ competencia.nome }}</h3>
            </header>
            <section>
                <ul>
                    <li>{{ competencia.tipo }}</li>
                    <li>{{ competencia.descricao }}</li>
                </ul>
            </section>
        </article>
        {% endfor %}
        </section>
    </div>
{% endblock %}