<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/indexStyle.css' %}">
</head>
<body>
    <header>
        <h1 class="h1IndexTittle">My Portfolio</h1>
        <nav>
            {% if request.user.is_authenticated %}
                <p>Olá, {{ request.user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}

                <a href="{% url 'registo' %}">Registo</a>
                <a href="{% url 'logout' %}">Logout</a>

            <a href="{% url 'landingPage' %}" class="nav-btn">Home</a>
            <a href="{% url 'tecnologias' %}" class="nav-btn">Tecnologias</a>
            <a href="{% url 'competencias' %}" class="nav-btn">Competências</a>
            <a href="{% url 'licenciatura' %}" class="nav-btn">Licenciatura</a>
            <a href="{% url 'formacoes' %}" class="nav-btn">Formações</a>
            <a href="{% url 'projetos' %}" class="nav-btn">Projetos</a>
            <a href="{% url 'voluntariado' %}" class="nav-btn">Voluntariado</a>
        </nav>
    </header>


    <main>
        {% block content %}
        <!-- Conteúdo dinâmico -->
        {% endblock %}
    </main>

    <footer>