{% extends "portfolio/index.html" %}

{% block content %}
    <h2>Licenciatura</h2>
    <section>
    {% for licenciatura in licenciaturas %}
    <article>
        <header>
            <h3>{{ licenciatura.nome }}</h3>
            {% if licenciatura.logotipo %}
                <img src="{{ licenciatura.logotipo.url }}" alt="Logo {{ tecnologia.nome }}" style="width: 400px; height: 180px">
            {% endif %}
        </header>

        <section class="sections">
            <ul>
                <li>Instituição : {{ licenciatura.instituicao}}</li>
                <li>Grau : {{ licenciatura.grau }}</li>
                <li>Ano Início : {{licenciatura.ano_inicio}}</li>
                <li>Ano Fim : {{licenciatura.ano_fim}}</li>
                <li>Diretor : {{licenciatura.diretor}}</li>
                <li>Objetivos : {{licenciatura.objetivos}}</li>
                <li>Descricao : {{licenciatura.descricao}}</li>

                
            </ul>
        </section>
    </article>
    {% endfor %}
    </section>
{% endblock %}