{% extends "portfolio/index.html" %}

{% block content %}
    <h2>Projetos</h2>

    {% if gestor %}
        <a href="{% url 'projetos_nova' %}" class="btn-add">+ Adicionar novo Projeto</a>
    {% endif %}
    
    <section>
    {% for projeto in projetos %}
        <div class="item-card">
            <div class="item-card-header">
                <h3>{{ projeto.nome }}</h3>
            </div>

            {% if projeto.imagem %}
                <img src="{{ projeto.imagem.url }}" alt="Imagem {{ projeto.nome }}" class="item-card-image-large">
            {% endif %}

            <div class="item-card-body">
                <ul>
                    <li><strong>Descrição:</strong> {{ projeto.descricao }}</li>
                    <li><strong>Unidade Curricular:</strong> {{ projeto.unidade_curricular.nome }}</li>
                    {% if projeto.link_github %}
                        <li><a href="{{ projeto.link_github }}" target="_blank">Ver no GitHub</a></li>
                    {% endif %}
                    {% if projeto.tecnologias.all %}
                        <li><strong>Tecnologias:</strong>
                            <ul class="sub-list">
                            {% for tecnologia in projeto.tecnologias.all %}
                                <li>
                                    {% if tecnologia.logo %}
                                        <img src="{{ tecnologia.logo.url }}" alt="{{ tecnologia.nome }}" class="inline-icon">
                                    {% endif %}
                                    {{ tecnologia.nome }}
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if projeto.competencias.all %}
                        <li><strong>Competências:</strong>
                            <ul class="sub-list">
                            {% for competencia in projeto.competencias.all %}
                                <li>{{ competencia.nome }} — {{ competencia.get_tipo_display }}</li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="item-card-footer">
                {% if gestor %}
                <a href="{% url 'projeto_editar' projeto.id %}" class="btn-edit">Editar</a>
                <form method="post" action="{% url 'projeto_eliminar' projeto.id %}" class="delete-form" onsubmit="return confirm('Tens a certeza que queres eliminar {{ projeto.nome }}?');">
                    {% csrf_token %}
                    <button type="submit" class="btn-delete">Eliminar</button>
                </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </section>
{% endblock %}