{% extends "portfolio/index.html" %}

{% block content %}
    <h2>Tecnologias</h2>
    <section>
    {% for tecnologia in tecnologias %}
    <article>
        <header>
            <h3>{{ tecnologia.nome }}</h3>
            {% if tecnologia.logo %}
                <img src="{{ tecnologia.logo.url }}" alt="Logo {{ tecnologia.nome }}" style="width: 50px; height: 50px">
            {% endif %}
        </header>

        <section class="sections">
            <ul>
                <li>Link: <a href="{{tecnologia.link}}" target="_blank">{{tecnologia.link}}</a></li>
                <li>Rating:{{tecnologia.rating}}</li>
                <li>Descricao:{{tecnologia.descricao}}</li>
                <li>Aspetos Relevantes: {{tecnologia.aspetos_relevantes}}</li>
            </ul>
        </section>
    </article>
    {% endfor %}
    </section>
{% endblock %}