{% extends "portfolio/index.html" %}

{% block content %}
    <h2>Voluntariado</h2>
    <a href="{% url 'voluntariado_nova' %}" class="btn-add">+ Adicionar novo Voluntariado</a>
    <section>
    {% for voluntariado in voluntariados %}
    <article>
        <header>
            <h3>{{ voluntariado.nome }}</h3>
        </header>

        <section>
            <ul>
                <li>{{voluntariado.data_inicio}}</li>
                <li>{{voluntariado.data_conclusao}}</li>
                <li>{{voluntariado.descricao}}</li>
            </ul>
        </section>
    </article>
    {% endfor %}
    </section>
{% endblock %}