{% extends "portfolio/index.html" %}

{% block content %}
    <h2>Voluntariado</h2>

    <a href="{% url 'voluntariado_nova' %}" class="btn-add">+ Adicionar novo Voluntariado</a>

    <section>
    {% for voluntariado in voluntariados %}
        <div class="item-card">
            <div class="item-card-header">
                <h3>{{ voluntariado.nome }}</h3>
            </div>

            <div class="item-card-body">
                <ul>
                    <li><strong>Início:</strong> {{ voluntariado.data_inicio|default:"—" }}</li>
                    <li><strong>Conclusão:</strong> {{ voluntariado.data_conclusao|default:"Em curso" }}</li>
                    <li><strong>Descrição:</strong> {{ voluntariado.descricao }}</li>
                </ul>
            </div>
            <div class="item-card-footer">
                <a href="{% url 'voluntariado_editar' voluntariado.id %}" class="btn-edit">Editar</a>
                <form method="post" action="{% url 'voluntariado_eliminar' voluntariado.id %}" class="delete-form" onsubmit="return confirm('Tens a certeza que queres eliminar {{ voluntariado.nome }}?');">
                    {% csrf_token %}
                    <button type="submit" class="btn-delete">Eliminar</button>
                </form>
            </div>
        </div>
    {% endfor %}
    </section>
{% endblock %}